.Vlt-callout {
	align-items: flex-start;
	border-radius: 5px;
	display: flex;
	margin-bottom: $unit2;
	opacity: 1;
	padding: 12px;
	position: relative;
	text-align: left;
	transition: all 0.3s ease-out;

	i {
		background-size: 20px 20px !important;
		border-radius: 100%;
		flex: 0 0 32px;
		height: 32px;
		width: 32px;
	}

	&__icon {
		border-radius: 100%;
		flex: 0 0 32px;
		height: 32px;
		padding: 6px;
		width: 32px;

		svg {
			fill: $white;
			height: 20px;
			width: 20px;
		}
	}

	h4 {
		font-size: 1.6rem;
		margin-bottom: 4px;
		margin-top: 2px;
	}

	p {
		color: $black;
		margin-bottom: 0;

		& + p,
		& + ul {
			margin-top: $unit1;
		}
	}

	&__content {
		align-self: center;
		flex: 2;
		padding-left: 1.6rem;
	}

	&__dismiss {
		@extend .reset-button;
		background-position: center;
		background-size: contain;
		cursor: pointer;
		flex: 0 0 20px;
		height: 20px;
		margin-left: $unit1;
		margin-top: $unit1;
		opacity: 0.6;
		transition: opacity 0.2s;
		width: 20px;

		&:hover {
			opacity: 1;
		}
	}

	&__cta {
		@extend %Vlt-btn;
		line-height: 1.6rem; // needed for Safari
		margin-bottom: $unit1;
		margin-top: $unit2;
		min-height: 30px;
	}

	&--dismissed {
		border: 0 !important;
		height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0;
	}

	&--warning {
		background: $yellow-lighter;
		border: 1px solid $yellow-light;

		i {
			background-color: $yellow;
			background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M11.0724799%2C2.10671245%20C10.4574754%2C1.08170499%209.54231794%2C1.08204943%208.92752013%2C2.10671245%20L1.50122634%2C14.4838688%20C0.888689703%2C15.5047632%201.30878124%2C16.25%202.49257535%2C16.25%20L17.5074247%2C16.25%20C18.6877372%2C16.25%2019.1093995%2C15.5015785%2018.4987737%2C14.4838688%20L11.0724799%2C2.10671245%20Z%20M12.0014305%2C1.54934205%20L19.4277243%2C13.9264984%20C20.4707053%2C15.6647999%2019.5315313%2C17.3333333%2017.5074247%2C17.3333333%20L2.49257535%2C17.3333333%20C0.465636432%2C17.3333333%20-0.472950267%2C15.6685416%200.572275667%2C13.9264984%20L7.99856946%2C1.54934205%20C9.03357081%2C-0.175660206%2010.9650891%2C-0.177893775%2012.0014305%2C1.54934205%20Z%22%20id%3D%22Rectangle-4%22%20fill-rule%3D%22nonzero%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9.25620833%2C5.79929167%20L9.25620833%2C10.1597083%20C9.25620833%2C10.5048863%209.53603036%2C10.7847083%209.88120833%2C10.7847083%20C10.2263863%2C10.7847083%2010.5062083%2C10.5048863%2010.5062083%2C10.1597083%20L10.5062083%2C5.79929167%20C10.5062083%2C5.4541137%2010.2263863%2C5.17429167%209.88120833%2C5.17429167%20C9.53603036%2C5.17429167%209.25620833%2C5.4541137%209.25620833%2C5.79929167%20Z%22%20id%3D%22Stroke-4%22%20fill-rule%3D%22nonzero%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3Cpath%20d%3D%22M10.906375%2C13.0207917%20C10.906375%2C13.5962083%2010.440125%2C14.0624583%209.86470833%2C14.0624583%20C9.28929167%2C14.0624583%208.82304167%2C13.5962083%208.82304167%2C13.0207917%20C8.82304167%2C12.445375%209.28929167%2C11.979125%209.86470833%2C11.979125%20C10.440125%2C11.979125%2010.906375%2C12.445375%2010.906375%2C13.0207917%22%20id%3D%22Fill-6%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.Vlt-callout__icon {
			background: $yellow;
		}

		.Vlt-callout__dismiss {
			background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%239C6F19%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-252%22%20points%3D%221.42258898%2015.115968%2015.115968%201.42258898%2013.9374567%200.244077682%200.244077682%2013.9374567%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-252-Copy%22%20points%3D%220.244077682%201.42258898%2013.9374567%2015.115968%2015.115968%2013.9374567%201.42258898%200.244077682%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.Vlt-callout__cta {
			@extend %Vlt-btn--primary;
		}
	}

	&--critical {
		background: $red-lighter;
		border: 1px solid lighten($red-light, 10);

		i {
			background-color: $red;
			background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M10%2C18.0485833%20C7.875%2C18.0485833%205.9475%2C17.2185833%204.50916667%2C15.87275%20L16.0475%2C4.70025%20C17.2891667%2C6.11691667%2018.0483333%2C7.96775%2018.0483333%2C10.00025%20C18.0483333%2C14.44525%2014.445%2C18.0485833%2010%2C18.0485833%20M1.95166667%2C10.00025%20C1.95166667%2C5.55525%205.555%2C1.95108333%2010%2C1.95108333%20C12.0225%2C1.95108333%2013.8658333%2C2.70275%2015.28%2C3.93525%20L3.76416667%2C15.0860833%20C2.63166667%2C13.6994167%201.95166667%2C11.9294167%201.95166667%2C10.00025%20M10%2C0.833583333%20C4.9375%2C0.833583333%200.833333333%2C4.93775%200.833333333%2C10.00025%20C0.833333333%2C12.2319167%201.6325%2C14.2760833%202.95833333%2C15.8660833%20L2.95666667%2C15.86775%20L3.01916667%2C15.93275%20C4.7%2C17.9094167%207.20166667%2C19.1669167%2010%2C19.1669167%20C15.0625%2C19.1669167%2019.1666667%2C15.06275%2019.1666667%2C10.00025%20C19.1666667%2C4.93775%2015.0625%2C0.833583333%2010%2C0.833583333%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.Vlt-callout__icon {
			background: $red;
		}

		.Vlt-callout__dismiss {
			background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%23BB3241%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-252%22%20points%3D%221.42258898%2015.115968%2015.115968%201.42258898%2013.9374567%200.244077682%200.244077682%2013.9374567%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-252-Copy%22%20points%3D%220.244077682%201.42258898%2013.9374567%2015.115968%2015.115968%2013.9374567%201.42258898%200.244077682%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.Vlt-callout__cta {
			@extend %Vlt-btn--destructive;
		}
	}

	&--good {
		background: $green-lighter;
		border: 1px solid lighten($green-light, 10);

		i {
			background-color: $green;
			background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-249%22%20fill%3D%22%23000000%22%20points%3D%222.25592232%209.52856496%201.07741102%2010.7070763%206.49833854%2016.1280038%2018.7037533%203.92258898%2017.525242%202.74407768%206.49833854%2013.7709812%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-249%22%20fill%3D%22%23FFFFFF%22%20points%3D%222.25592232%209.52856496%201.07741102%2010.7070763%206.49833854%2016.1280038%2018.7037533%203.92258898%2017.525242%202.74407768%206.49833854%2013.7709812%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.Vlt-callout__icon {
			background: $green;
		}

		.Vlt-callout__dismiss {
			background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%232D966F%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-252%22%20points%3D%221.42258898%2015.115968%2015.115968%201.42258898%2013.9374567%200.244077682%200.244077682%2013.9374567%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-252-Copy%22%20points%3D%220.244077682%201.42258898%2013.9374567%2015.115968%2015.115968%2013.9374567%201.42258898%200.244077682%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.Vlt-callout__cta {
			background: $green;
			color: $white;

			&:hover {
				background: darken($green, 5);
			}
		}

	}

	&--shoutout {
		background: $blue-lighter;
		border: 1px solid lighten($blue-light, 10);

		i {
			background: $blue;
			background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M17.1398551%2C15.8684596%20C17.1398551%2C16.166651%2016.8871014%2C16.4192089%2016.5632609%2C16.4192089%20C16.2631159%2C16.4192089%2016.0103623%2C16.166651%2016.0103623%2C15.8684596%20L16.0103623%2C2.82356939%20C16.0103623%2C2.52537799%2016.2631159%2C2.2728201%2016.5632609%2C2.2728201%20L16.5869565%2C2.2728201%20C16.8871014%2C2.2728201%2017.1398551%2C2.52537799%2017.1398551%2C2.82356939%20L17.1398551%2C15.8684596%20Z%20M2.51963768%2C10.3153332%20L2.51963768%2C8.37669575%20L14.9835507%2C4.43647801%20L14.9835507%2C14.2201457%20L2.51963768%2C10.3153332%20Z%20M1.49282609%2C11.098184%20C1.49282609%2C11.2240696%201.38619565%2C11.3302855%201.25981884%2C11.3302855%20C1.13344203%2C11.3302855%201.02681159%2C11.2240696%201.02681159%2C11.098184%20L1.02681159%2C7.57417536%20C1.02681159%2C7.44828981%201.13344203%2C7.34207388%201.25981884%2C7.34207388%20C1.38619565%2C7.34207388%201.49282609%2C7.44828981%201.49282609%2C7.57417536%20L1.49282609%2C11.098184%20Z%20M9.26894928%2C13.9872574%20C9.22945652%2C14.1107826%209.11176812%2C14.1666443%209.01935507%2C14.1666443%20C8.99328986%2C14.1666443%208.96801449%2C14.1627104%208.94273913%2C14.1548425%20L4.29523188%2C12.6796212%20C4.20755797%2C12.6520838%204.16332609%2C12.5875674%204.14436957%2C12.5513753%20C4.1262029%2C12.51597%204.09855797%2C12.4420123%204.12699275%2C12.3554659%20C4.16648551%2C12.2319407%204.28338406%2C12.176079%204.37658696%2C12.176079%20C4.40186232%2C12.176079%204.42713768%2C12.180013%204.45241304%2C12.1878808%20L9.10071014%2C13.6631021%20C9.1875942%2C13.6906396%209.23182609%2C13.7551559%209.25078261%2C13.791348%20C9.26894928%2C13.8275401%209.2965942%2C13.9007111%209.26894928%2C13.9872574%20Z%20M16.5869565%2C1.25%20L16.5632609%2C1.25%20C15.6944203%2C1.25%2014.9835507%2C1.95810622%2014.9835507%2C2.82356939%20L14.9835507%2C3.36409047%20L2.49041304%2C7.31217606%20C2.36877536%2C6.74726465%201.86247826%2C6.31925378%201.25981884%2C6.31925378%20C0.567115942%2C6.31925378%200%2C6.88416519%200%2C7.57417536%20L0%2C11.098184%20C0%2C11.788981%200.567115942%2C12.3531056%201.25981884%2C12.3531056%20C1.85615942%2C12.3531056%202.35692754%2C11.9337493%202.48488406%2C11.3774926%20L3.36162319%2C11.6520804%20C3.27078986%2C11.7677378%203.19575362%2C11.8975573%203.14836232%2C12.044686%20C2.93352174%2C12.7166001%203.30949275%2C13.440442%203.98323913%2C13.6544475%20L8.63153623%2C15.1296688%20C8.76028261%2C15.1705816%208.8906087%2C15.1894644%209.01935507%2C15.1894644%20C9.56435507%2C15.1894644%2010.0730217%2C14.8409188%2010.2467899%2C14.2980374%20C10.2973406%2C14.1406804%2010.3123478%2C13.9817499%2010.3020797%2C13.8259665%20L14.9835507%2C15.2925332%20L14.9835507%2C15.8684596%20C14.9835507%2C16.7339228%2015.6944203%2C17.442029%2016.5632609%2C17.442029%20L16.5869565%2C17.442029%20C17.4557971%2C17.442029%2018.1666667%2C16.7339228%2018.1666667%2C15.8684596%20L18.1666667%2C2.82356939%20C18.1666667%2C1.95810622%2017.4557971%2C1.25%2016.5869565%2C1.25%20Z%22%20id%3D%22Fill-1%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.Vlt-callout__icon {
			background: $blue;
		}

		.Vlt-callout__dismiss {
			background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%23117BB8%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-252%22%20points%3D%221.42258898%2015.115968%2015.115968%201.42258898%2013.9374567%200.244077682%200.244077682%2013.9374567%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-252-Copy%22%20points%3D%220.244077682%201.42258898%2013.9374567%2015.115968%2015.115968%2013.9374567%201.42258898%200.244077682%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.Vlt-callout__cta {
			@extend %Vlt-btn--secondary;
		}
	}

	&--tip {
		background: $grey-lighter;
		border: 1px solid $grey-light;
		box-shadow: none;

		i {
			background: $grey-light;
			background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%23637381%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23637381%22%20d%3D%22M17.0973207%2C4.33600997%20C16.8972773%2C4.33600997%2016.7082067%2C4.37771645%2016.530109%2C4.44277855%20L16.530109%2C3.59530293%20C16.530109%2C2.71195974%2015.8134978%2C1.99127181%2014.9339821%2C1.99127181%20L14.8225655%2C1.99127181%20C14.6267424%2C1.99127181%2014.4410481%2C2.03214416%2014.2671707%2C2.09720627%20C14.089917%2C1.37318182%2013.4425192%2C0.8335%2012.6685116%2C0.8335%20C11.7577654%2C0.8335%2011.0166763%2C1.57754356%2011.0166763%2C2.4934178%20L11.0166763%2C2.76200751%20C10.8419549%2C2.6994478%2010.6571046%2C2.65857545%2010.4612815%2C2.65857545%20C9.55053538%2C2.65857545%208.80944629%2C3.40345314%208.80944629%2C4.31849325%20L8.80944629%2C6.33124785%20C7.38972893%2C4.40774511%207.25636666%2C3.01057812%207.25636666%2C2.58433792%20L7.25636666%2C1.4349074%20C7.25636666%2C1.1354549%207.01074374%2C0.892723198%206.70688034%2C0.892723198%20C6.40386099%2C0.892723198%206.15823807%2C1.1354549%206.15823807%2C1.4349074%20L6.15823807%2C2.58433792%20C6.15823807%2C3.1765699%206.3481527%2C5.32111697%208.78581247%2C8.03370626%20C9.04494043%2C8.32064682%209.19011962%2C8.62093346%209.1664858%2C8.81528564%20C9.16142141%2C8.85282147%209.14876043%2C8.95208289%208.97910336%2C9.0680269%20C8.51908793%2C9.37999135%207.72144649%2C9.58852373%207.45303381%2C9.64274216%20L6.69253123%2C9.79538786%20L7.09177398%2C10.4526819%20C7.1348213%2C10.5244171%207.5256234%2C11.1333317%208.31482419%2C11.3051623%20C8.34436647%2C11.3268497%208.37475281%2C11.3568784%208.37812907%2C11.3810681%20C8.38825785%2C11.4544715%208.30047509%2C11.6888619%207.89447981%2C12.0550448%20L7.16520764%2C12.7098365%20L8.11224859%2C12.976758%20C8.27684127%2C13.0234692%208.54018955%2C13.1761149%208.55707085%2C13.2770446%20C8.57057589%2C13.3662965%208.42117639%2C13.724138%207.56360633%2C14.2955168%20L7.32135967%2C14.4573379%20L7.32135967%2C15.8019547%20C7.32135967%2C16.3891819%206.80057155%2C17.0172815%205.33865094%2C17.0172815%20L2.60219216%2C17.0172815%20C1.98602469%2C17.0172815%201.25%2C17.2967149%201.25%2C18.6246491%20C1.25%2C18.9241016%201.49562292%2C19.1668333%201.79864226%2C19.1668333%20C2.1016616%2C19.1668333%202.34728452%2C18.9241016%202.34728452%2C18.6246491%20C2.34728452%2C18.102484%202.43759948%2C18.102484%202.60219216%2C18.102484%20L5.33865094%2C18.102484%20C7.0478826%2C18.102484%207.92739835%2C17.4026493%208.2591159%2C16.6035532%20L9.17745864%2C17.5119203%20C9.27114986%2C17.6028404%209.36990546%2C18.0107298%209.38087831%2C18.3493864%20C9.39100709%2C18.6421658%209.63409782%2C18.8740539%209.92952057%2C18.8740539%20L9.94640187%2C18.8740539%20C10.2494212%2C18.8640443%2010.4866035%2C18.6146396%2010.4773188%2C18.3160212%20C10.4722544%2C18.134181%2010.4216105%2C17.2066289%209.95399846%2C16.7453553%20L8.41948826%2C15.2289077%20L8.41948826%2C15.0270484%20C9.34120725%2C14.3605789%209.74045001%2C13.7308111%209.64000627%2C13.1068822%20C9.58260985%2C12.7482065%209.37159359%2C12.4871239%209.13947572%2C12.3052837%20C9.41295278%2C11.9257547%209.51930497%2C11.5562353%209.46022042%2C11.2008962%20C9.37919018%2C10.7246082%209.03059133%2C10.4618574%208.84152076%2C10.3517523%20C9.10318092%2C10.2466519%209.37159359%2C10.1173619%209.60033521%2C9.96137964%20C10.078076%2C9.63690325%2010.220723%2C9.23068216%2010.2553297%2C8.94624398%20C10.3042854%2C8.55336897%2010.1802079%2C8.12379225%209.90673082%2C7.70422509%20L9.90673082%2C4.31849325%20C9.90673082%2C4.00152402%2010.1548859%2C3.74377799%2010.4612815%2C3.74377799%20C10.7668331%2C3.74377799%2011.0158322%2C4.00152402%2011.0158322%2C4.31849325%20L11.0158322%2C9.5960309%20L12.1139608%2C9.5960309%20L12.1139608%2C8.99045285%20L12.1148049%2C8.99045285%20L12.1148049%2C2.4934178%20C12.1148049%2C2.17561444%2012.36296%2C1.91870254%2012.6685116%2C1.91870254%20C12.9740631%2C1.91870254%2013.2222182%2C2.17561444%2013.2222182%2C2.4934178%20L13.2222182%2C9.57517766%20L13.2255945%2C9.57517766%20L13.2255945%2C9.5818507%20L14.3237231%2C9.5818507%20L14.3237231%2C3.59530293%20C14.3237231%2C3.31336715%2014.5516206%2C3.07647435%2014.8225655%2C3.07647435%20L14.9339821%2C3.07647435%20C15.2040829%2C3.07647435%2015.4319804%2C3.31336715%2015.4319804%2C3.59530293%20L15.4319804%2C9.57267527%20L16.530109%2C9.57267527%20L16.530109%2C8.72686791%20C16.5326412%2C8.70434641%2016.543614%2C8.68516143%2016.543614%2C8.66263994%20L16.543614%2C5.99592777%20C16.543614%2C5.67812441%2016.7917692%2C5.42121251%2017.0973207%2C5.42121251%20C17.4028722%2C5.42121251%2017.6518714%2C5.67812441%2017.6518714%2C5.99592777%20L17.6518714%2C11.856522%20C17.6518714%2C13.6557394%2017.2652896%2C15.1805282%2017.0340158%2C16.0922318%20C16.9631144%2C16.369997%2016.9057179%2C16.5968802%2016.8744875%2C16.7645402%20C16.7309965%2C17.5269346%2016.711583%2C18.3093482%2016.711583%2C18.3418792%20C16.7039864%2C18.6413317%2016.9445449%2C18.8890682%2017.2475643%2C18.8957412%20C17.2517846%2C18.8965754%2017.2551609%2C18.8965754%2017.2593812%2C18.8965754%20C17.5573361%2C18.8965754%2017.8012709%2C18.6613508%2017.8080234%2C18.366069%20C17.8088675%2C18.3593959%2017.8257488%2C17.6395421%2017.9532026%2C16.9638972%20C17.9819008%2C16.8112515%2018.0342329%2C16.6068898%2018.0983818%2C16.3558168%20C18.3423166%2C15.3957336%2018.75%2C13.7892001%2018.75%2C11.856522%20L18.75%2C5.99592777%20C18.75%2C5.08088766%2018.0080668%2C4.33600997%2017.0973207%2C4.33600997%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.Vlt-callout__icon {
			background: $grey-light;
		}

		.Vlt-callout__dismiss {
			background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%23919EAB%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-252%22%20points%3D%221.42258898%2015.115968%2015.115968%201.42258898%2013.9374567%200.244077682%200.244077682%2013.9374567%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Path-252-Copy%22%20points%3D%220.244077682%201.42258898%2013.9374567%2015.115968%2015.115968%2013.9374567%201.42258898%200.244077682%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		.Vlt-callout__cta {
			@extend %Vlt-btn--tertiary;
		}
	}
}
