.Vlt-spinner {
  display: inline-block;
  height: 64px;
  margin: $unit1;
  position: relative;
  width: 64px;

  &:before,
  &:after {
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border: 6px solid $teal;
    border-color: $teal transparent transparent;
    border-radius: 50%;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 75%;
    margin: 6px;
    position: absolute;
    width: 75%;
  }

  &:after {
    animation-delay: -0.1s;
  }

  &--small {
    height: 32px;
    width: 32px;

    &:before,
    &:after {
      border-width: 3px;
      margin: 3px;
    }
  }

  &--middle {
    vertical-align: middle;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.cp-spinner {
    box-sizing: border-box;
    display: inline-block;
    height: 48px;
    position: relative;
    width: 48px;
}

.cp-round:before {
    border-bottom: solid 6px $grey-light;
    border-left: solid 6px $grey-light;
    border-radius: 50%;
    border-right: solid 6px $grey-light;
    border-top: solid 6px $grey-light;
    box-sizing: border-box;
    content: ' ';
    display: inline-block;
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 48px;
}

.cp-round:after {
    animation: cp-round-animate 1s ease-in-out infinite;
    border-bottom: solid 6px transparent;
    border-left: solid 6px transparent;
    border-radius: 50%;
    border-right: solid 6px transparent;
    border-top: solid 6px $teal;
    box-sizing: border-box;
    content: ' ';
    display: inline-block;
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 48px;
}

@keyframes cp-round-animate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
